
decomposite/results/16_16_p_6_6_25_20_40_output.txt

decomposite/results/16_16_p_6_6_25_20_43_output.txt

decomposite/results/16_16_p_6_6_25_20_44_output.txt

decomposite/results/16_16_p_6_6_25_20_46_output.txt

decomposite/results/16_16_p_6_6_25_20_49_output.txt

decomposite/results/16_16_p_6_6_25_20_50_output.txt

decomposite/results/16_16_p_6_6_25_20_51_output.txt

decomposite/results/16_16_p_6_6_25_20_52_output.txt

decomposite/results/16_16_p_6_6_25_20_56_output.txt

decomposite/results/16_16_p_6_6_25_20_57_output.txt

decomposite/results/16_16_p_6_6_25_20_58_output.txt

decomposite/results/16_16_p_6_6_25_21_1_output.txt

decomposite/results/16_16_p_6_6_25_21_5_output.txt

decomposite/results/4_4_p_6_6_25_22_25_output.txt

decomposite/results/4_4_p_6_6_25_22_28_output.txt

decomposite/results/4_4_p_6_6_25_22_30_output.txt

decomposite/results/4_4_p_6_6_25_22_31_output.txt

decomposite/results/*.txt